@model IEnumerable<Huangtaizi.Models.Member>
@{
    ViewBag.Title = "Home Page";
}
@foreach (var item in Model)
{
    <div>
        <h4>@item.FirstName item.LastName</h4>
        <div></div>
        <hr />
    </div>
}